.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}
.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    width: 130px;
    height: 140px;
}
.form-group {
    color: #5bc0de;
}
.form-control {

    color: #000000;
    font-size: x-large;
    font-family: "Edwardian Script ITC"

}
h2{
    font-family: "Edwardian Script ITC"

}
.list-group-item{
background: #dbf3ed;
border: none;

}

#multimedia{
    font-size:small;
    border-top: none;
}
#del{
    border-color: #acacac;
}